body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h1, h2 {
  color: gold;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 10px;
  min-width: 220px;
}