@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  
}
html {
  scroll-behavior: smooth;
}x
/* LIGHT THEME COLORS */
:root {
  --primary: #f59e0b;
  --dark: #111827;
  --light: #ffffff;
}

/* HERO BACKGROUND */
.hero-bg {
  background-image: url("https://images.unsplash.com/photo-1604608672516-7c2d5e6f27bb?q=80&w=2070&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  
}

